<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.bill.mapper.AlipayBillTransactionMapper">
    <select id="selectActiveByWechatUserIds" resultType="org.example.bill.domain.AlipayBillTransaction">
        SELECT t.* FROM alipay_bill_transactions t
        INNER JOIN alipay_bill_imports i ON t.bill_import_id = i.id
        INNER JOIN alipay_users au ON i.user_id = au.id
        WHERE au.person_id IN (
            SELECT DISTINCT wu.person_id FROM wechat_users wu
            WHERE wu.id IN
            <foreach collection="userIds" item="id" open="(" separator="," close=")">#{id}</foreach>
            AND wu.person_id IS NOT NULL
        )
        AND t.is_archived = false
    </select>

    <select id="selectActiveByPersonIds" resultType="org.example.bill.domain.AlipayBillTransaction">
        SELECT DISTINCT t.* FROM alipay_bill_transactions t
        INNER JOIN alipay_bill_imports i ON t.bill_import_id = i.id
        INNER JOIN alipay_users au ON i.user_id = au.id
        WHERE t.is_archived = false
        AND (
            t.person_id IN
            <foreach collection="personIds" item="id" open="(" separator="," close=")">#{id}</foreach>
            OR au.person_id IN
            <foreach collection="personIds" item="id" open="(" separator="," close=")">#{id}</foreach>
            OR t.phone_id IN (
                SELECT pp.phone_id FROM person_phone pp
                WHERE pp.person_id IN
                <foreach collection="personIds" item="id" open="(" separator="," close=")">#{id}</foreach>
            )
        )
    </select>

    <select id="selectActiveByPhoneIds" resultType="org.example.bill.domain.AlipayBillTransaction">
        SELECT t.* FROM alipay_bill_transactions t
        WHERE t.is_archived = false
        AND t.phone_id IN
        <foreach collection="phoneIds" item="id" open="(" separator="," close=")">#{id}</foreach>
    </select>
</mapper>
